<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUFeedURL</key>
	<string>https://github.com/cu-3rd-party/lms-extension/releases/latest/download/appcast.xml</string>
	<key>SFSafariWebExtensionConverterVersion</key>
	<string>26.6</string>
	<key>SUEnableInstallerLauncherService</key>
	<true/>
	<key>SUPublicEDKey</key>
	<string>HEBCt4TxjNFxuV7XTwC/VIkxRwCsHOVME+fQOgLj1BU=</string>
</dict>
</plist>
